*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: white;
    /* width: calc(100%/3); */
}

.input{
    /* width: calc(100%/3); */
    margin-top: 18px;
    width: 470px;
}

.login{
    /* width: calc(100%/3); */
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

#header {
    border-bottom: 1px solid gray;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #353535;
}

#color{
    background-color: #353535;
}

#navbarNav{
    margin: 10px 0;
    height: 24px;
    padding-top: 4px;
    box-sizing: border-box;
    display: flex;
    /* align-items: center; */
    text-align: center;
    align-content: center;
    justify-content: center;
}

#navbarNav > ul > li {
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}

#navbarNav > ul > li > a{
    color: white;
}
#wrapper #header .login  span i   {
font-size: 20px;
margin-left: 10px;
}
.body .introduce img{
    width: 584px;
    height:  418px;
}
.body .introduce{
    justify-content: space-between;
    padding: 60px;
}
.body .introduce .part-right{
    width: 600px;
}
.body .introduce .part-right h2{
    font-weight: 600;
    padding-bottom: 10px;
}

